/* TYPOGRAPHY */

.home h1 {
	font-size: 16pt;
	font-weight: 700;
	color: #ff3333;
}

h1 {
	font-size: 32pt;
	font-weight: 800;
}

h2 {
	font-size: 24pt;
	font-weight: 600;
}

h3 {
	font-size: 16pt;
	font-weight: 600;
	color: #ff3333;
}

h4 {
	font-size: 14pt;
	font-weight: 600;
	color: #66cc99;
}

h5 {
	font-size: 14pt;
	font-weight: 700;
}

/* h6 n/a */

p {
	font-size: 12pt;
	font-weight: 400;
}

a {
	text-decoration: none;
	color: #66cc99;
}

a:hover {
	color: #a3e0c2;
	text-decoration: underline;
}
