/* BASE LAYOUT FLEXBOX */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

body {
	margin: 0;
	background-color: whitesmoke;
	font-family: "Fira Code";
	font-size: 16px;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 40px;
	gap: 20px;
}

.text-list-container {
	display: flex;
	flex-direction: row;
	gap: 40px;
	flex: 1;
}

.text-section {
	flex: 1;
	background-color: #333;
	color: white;
	padding: 40px;
	max-width: 50%;
}

.text-section h1 {
	color: #e63946;
	font-size: 36px;
	margin-bottom: 20px;
}

.text-section p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.text-section .btn {
	display: inline-block;
	background-color: #e63946;
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 5px;
	transition: background-color 0.3s;
}

.text-section .btn:hover {
	background-color: #d62828;
}

.list-section {
	position: relative;
	padding: 40px;
	background-color: #f1f1f1;
	color: #333;
	max-width: 100%;
	box-sizing: border-box;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	z-index: 1;
	text-align: center;
}

.list-section h2 {
	color: #e63946;
	margin-bottom: 20px;
	font-size: 28px;
}

.list-section ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 1.8;
}

.list-section ul li {
	margin-bottom: 10px;
}

.image-section {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;
}

.image-section img {
	max-width: 80%;
	border-radius: 10px;
	background-color: transparent;
	mix-blend-mode: multiply;
}
