/* BASE LAYOUT FLEXBOX */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

body {
	margin: 0;
	background-color: whitesmoke;
	/* bg whitesmoke ipv zwart  */
	font-family: "Fira Code";
	font-size: 12pt;
}
