@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

a {
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}

.btn-secondary {
	position: relative;
	padding: 15px 30px;
	font-weight: bold;
	text-align: center;
	color: black;
	background-color: #ef3a37;
	text-transform: uppercase;
	cursor: pointer;
	user-select: none;
	transition: background-color 0.3s;
	font-family: "Orbitron";
}

.btn-secondary:hover {
	background-color: #ef3a378f;
	color: firebrick;
}

.btn-primary {
	display: inline-block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	color: whitesmoke;
	background-color: lightslategray;
	border: 2px solid #000;
	border-radius: 10px;
	box-shadow: 5px 5px 0px #000;
	transition: all 0.3s ease;
	cursor: pointer;
}

.btn-primary:hover {
	background-color: whitesmoke;
	color: #ef3a37;
	border: 2px solid #ef3a37;
	box-shadow: 5px 5px 0px #ef3a37;
}
.btn-primary:active {
	color: black;
	background-color: lightslategray;
	border-color: whitesmoke;
	box-shadow: none;
	transform: translateY(4px);
}
