/* TYPOGRAPHY */

h1 {
	font-family: "Ethnocentric";
	font-size: 48px;
	color: #ef3a37;
}

h2 {
	font-family: "Ethnocentric";
	font-size: 38px;
	color: #ffffff;
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #ffffff;
}

a {
}
